.content {
  position: relative;
  padding: 0 34px;
  margin: 30px 0px 41px;
}
@media (min-width: 992px) {
  .content {
    display: none;
  }
}
.filter .item {
  width: 102px;
  height: 42px;
  border-radius: 10px;
  font-family: Grota Rounded;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: var(--main-dark);
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.3s;
  text-align: center;
  margin: 17px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.filter .item:hover,
.filter .item.active,
.filter .item:focus {
  color: var(--secondary-two);
  background-color: #c41e5833;
}

.prev-arrow,
.next-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  z-index: 5;
  cursor: pointer;
}
.prev-arrow {
  left: 0;
}
.next-arrow {
  right: 0;
}
