.head {
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 600;
  line-height: 22.4px;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 1.6px;
}
@media (min-width: 992px) {
  .head {
    font-size: 18px;
  }
}
